@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  @apply font-inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  @apply font-bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.hero__bg-pattern {
  background-image: url(".././public/hero/hero-bg-circles.svg");
  @apply bg-cover bg-center bg-no-repeat;
}
.hero__title-gradient {
  @apply bg-gradient-to-br from-secondary-400 to-secondary-600;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
}

@screen lg {
  .hero__image-container {
    @apply absolute top-0;
    height: auto;
    width: calc(50% + 100px);
    right: -100px;
  }
}
@screen 2xl {
  .hero__image-container {
    @apply absolute;
    height: auto;
    width: calc(50% + 180px);
    right: -180px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.heading-with-leftborder {
  @apply relative;
}

.heading-with-leftborder::before {
  @apply absolute bg-gradient-to-b from-yellow-400 to-primary-500 rounded-r-md h-full top-0 left-0;
  content: "";
  width: 4px;
}

@screen lg {
  .heading-with-leftborder::before {
    width: 8px;
  }
}

.heading-with-underscore {
  @apply relative pl-8;
}

.heading-with-underscore::before {
  @apply absolute bg-primary-500 h-1 w-4;
  content: "";
  top: 18px;
  left: 4px;
}

@screen lg {
  .testimonial-blockquote::before {
    @apply w-11 ml-0;
  }
}

.path {
  /* -webkit-animation: dash 30s linear infinite; */
  stroke-dasharray: 8;
  stroke-width: 2;
}

.ama-section__corner-image {
  @apply right-0 h-80 w-80 z-0;
}

@screen md {
  .ama-section__corner-image {
    right: -50px;
    top: -30px;
  }
}

.tooltip {
  @apply w-9 h-9 flex items-center justify-center absolute cursor-pointer;
}

/* Trigger item */

.tooltip:hover .tooltip-item {
  border-color: #380d80;
}

/* Tooltip */

.tooltip-content {
  @apply absolute min-w-max text-secondary-600 top-1/2 transform translate-x-0 -translate-y-1/2 z-30 rounded-lg opacity-0 cursor-default pointer-events-none transition;
  background: #e6defd;
}

.tooltip-right .tooltip-content {
  @apply left-10;
}

.tooltip-left .tooltip-content {
  @apply right-10;
}

.tooltip:hover .tooltip-content {
  opacity: 1;
  pointer-events: auto;
}

/* Tooltip arrow */

.tooltip-content::before {
  content: "";
  position: absolute;
  top: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: rgba(230, 222, 253, 0);
}

.tooltip-right .tooltip-content::before {
  @apply right-full;
  border-right-color: #e6defd;
  border-width: 10px;
  margin-top: -10px;
}

.tooltip-left .tooltip-content::before {
  @apply left-full;
  border-left-color: #e6defd;
  border-width: 10px;
  margin-top: -10px;
}

.stats__side-nav-item--active {
  @apply bg-primary-200 bg-opacity-50 text-secondary-600;
}
